# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [1]:
# Answer : 
print("""
*    :  expression
'hello'  :  value
-87.8    :  value
-        :  expression
/        :  expression
+        :  expression
6        :  value

""")

*    :  expression
'hello'  :  value
-87.8    :  value
-        :  expression
/        :  expression
+        :  expression
6        :  value

# 2. What is the difference between string and variable?

 String is a data type in python. String data type is a type of variable which contains characters with in double or single quotes and texts and alphanumeric values.Whereas variable is a temporary memory which can hold a data of any type like integer , string , float and so on.

# 3. Describe three different data types.

1. int : integer type of data like numeric values. ex :  12,45,67 ,998
2. float : its is the numeric values with decimal places. ex : 23.88, 12.09,09.98, 0.23 ,0.343
3. string : it contains characters, text with in double or single quotes . ex : 'Linkan', 'Ineuron','India','ABC5'

# 4. What is an expression made up of? What do all expressions do?

Expressions contains the values,variables,operators to evaluate some result.
res=2*4 here it evaluates the res variable.

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expressions contains the values,variables,operators to evaluate some result. res=2*4 here it evaluates the res variable. But statement is just a command which follows to execute in the program to show the output. spam=10, here 10 is being assigned to the vriable called "spam".

# 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [2]:
bacon = 22

bacon + 1
bacon #Ideally bacon variable contains the value 22 only.

22

# 7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [3]:
'spam' + 'spamspam' #first 'spam' gets concatinated with 'spamspam'.
'spam' * 3 # 'spam' gets concatinated 3 times when multiplied with 3.
#both the expression prits 'spam' 3 times in a single output line.

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

vriable name can not be started with numbrs like 1,2,3 etc. so 100 is not a valid variable name. 'eggs' is valid variable name as it starts with letter.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

str(), int(), float()

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [4]:
'I have eaten ' + 99 + ' burritos.'
# As 99 is an integer and we are trying to concatinate with strings , so it will show error.To concatinate 99 with other strings, typecasting need to be done .

TypeError: can only concatenate str (not "int") to str

In [5]:
# fix can be done like this
'I have eaten ' + '99' + ' burritos.' # 99 is now a string as its with in single quote '99'.

'I have eaten 99 burritos.'